// -------------- MOBILE-FIRST ARTCLE --------------
.article_sidebar{
	padding:0;
	.filters{
		margin-bottom: $marginSmall;
		ul{
			li{
				font-family: $titleFont;
				font-size : $filtersMobile;
				text-transform: uppercase;
			}
		}
	}
	.download-pdf{
		// a{background: $mainColor; padding: 5px;}
		a{border-bottom: 1px solid $mainColor;}
		margin-top: $marginNormal;
		margin-bottom: $marginNormal;
		text-transform: uppercase;
		font-size : $filtersMobile;
		font-family: $titleFont;

	}
}

.author{
	font-family: $titleFont;
	font-size: $filtersMobile;
	margin-bottom: $marginNormal;
}

.article{
	padding:0;
	h1{
		font-family: $titleFont;
		font-size: $articleTitleMobile;
		font-weight: bold;
		text-transform: uppercase;
		line-height:1.1;
		margin-top: 0;
		letter-spacing: 0.01em;
	}
	.introduction{
		font-family: $titleFont;
		font-weight: bold;
	}
	h2{
		font-family: $titleFont;
		font-weight: bold;
		text-transform: uppercase;
		font-size: $menuMobile;
		margin-bottom: $marginSmall;
		margin-top: $marginBig;
	}
	.credits{
		margin-top: $marginBig;
		p{font-size: $smallTextMobile;}
	}
}

.recipe{
	h2{text-align: center; margin-top: 0;}
	p{text-align: center; }
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	margin-top: $marginBig;
	margin-bottom: $marginBig;
	padding-top: $marginBig;
	padding-bottom: $marginNormal;
}

.related{
	border-top: 2px solid #000;
	margin-top: $marginBig;
	padding-top : $marginNormal;
	h2{
		font-size: $menuMobile;
		margin-top:0;
	}
	h3{
		font-family: $titleFont;
		font-weight: bold;
		font-size: $menuMobile;
		margin:0;
		line-height: 1.1;
		text-transform: capitalize;
	}
}

article{
	figure{
		margin-top: $marginBig;
		margin-bottom: $marginBig;
	}
	.row-images{
		display: flex;
		align-items: center;
		figure{ padding-right: $marginNormal;}
	}
}



figure.small{
	width: 33.3333%;
	margin-left: auto;
	margin-right: auto;
}

figure.medium{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

figure.large{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}


// -------------- DESKTOP ARTICLE --------------
@media only screen and (min-width: 64em){
	.article{
		h1{
			margin-top:0;
			text-align: center;
			font-size: $articleTitle;
		}
		h2{
			font-size: $menu;
		}
		.credits{
			p{font-size: $smallText;}
		}
	}


}

.show-for-print{display:none;}

// -------------- PRINT ARTICLE --------------
@media print{
	@page {
		margin: 1.5cm;
		size: A4;
	}
	.show-for-print{display: block;}
	header{display:none !important;}
	.print-header{
		padding: 0 $marginNormal $marginNormal;
		border-bottom: 1px solid #000;
		margin-bottom: $marginNormal;
		h1{
			text-transform: uppercase; 
			font-family: $titleFont;
			margin:0;
		}
	}
	main{padding-top: 0 !important; padding-bottom: 0 !important;}
	.related, .download-pdf{ display:none !important;}
	a{background: transparent !important;}
	p a::after{
    content: " (" attr(href) ") ";
  }
	.easter-potato{display:none !important;}
	p{
		overflow: visible !important; 
		// break-inside: avoid !important;
		// page-break-inside: avoid !important;
	}
	.recipe{page-break-inside: avoid !important;}
	// p{page-break-inside: avoid !important; break-inside: avoid !important;}
	.article h1{text-align: center !important;}
	.filters, .author{ text-align: center;} 
	.filters li{ 
		display: inline-block !important;
		&:after{
			content: "/";
		}
		&:last-child:after{
			content: "";
		}
	}
}



