// -------------- MOBILE-FIRST HOME --------------
.sidebar{
	margin-bottom: $marginBig;
	ul{
		li{
			font-family: $titleFont;
			font-size : $filtersMobile;
			text-transform: uppercase;
			margin-right: $marginNormal;
			margin-bottom: 5px;
			&.active{
				background: $mainColor;
				cursor: default;
				a:hover{color: #000;}
			}
		}
	}
}

.articles-list{
	.filters{
		margin-top: $marginSmall;
		ul{
			padding:0;
			margin:0;
			li{
				font-family: $titleFont;
				font-size : $filtersMobile;
				text-transform: uppercase;
				margin-right: 5px;
				margin-bottom: 0;
				&.active{
					background: $mainColor;
					cursor: default;
					a:hover{color: #000;}
				}
			}
		}
	}
	h2{
		font-family: $titleFont;
		font-weight: bold;
		font-size: $menuMobile;
		margin:0;
		line-height: 1.1;
		text-transform: capitalize;
	}
	.article-cover{
		a{height: 100%; display:block;}
		img{
			vertical-align: middle;
		}
	}
	.article-cover:hover{
		background: $mainColor;
		img{
			mix-blend-mode: multiply;
			filter: grayscale(100%);
  		// filter: grayscale(100%);
  		// opacity: 1;
		}
	}

}

// -------------- DESKTOP HOME --------------
@media only screen and (min-width: 64em){
	.sidebar{
		ul{
			li{
				font-size : $filters;
			}
		}
	}
	.articles-list{
		.filters{
			ul{
				li{
					font-size : $filters;
				}
			}
		}
		h2{
			font-size: $menu;
		}
	}
}






