// I M P O R T
// -------------- MOBILE-FIRST --------------
@import "_variables.scss";

*{
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
	margin: 0 0px; 
  font-size: 12px; 
  font-family: $font;
  line-height: 1.4;
}

// -------------- RESET.CSS --------------
ul, ol{margin:0; padding:0;}
li{list-style:none;}
a{color: #000;text-decoration: none;}
// a:visited{color: $mainColor;}
a:hover{background-color: $mainColor;}
p a{border-bottom: 1px solid $mainColor;}
img {width: 100%;}
figure{margin:0;}
h2{
  font-family: $titleFont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $menuMobile;
  margin-bottom: $marginSmall;
  margin-top: $marginBig;
  letter-spacing: 0.02em;
}
h3{
  font-family: $titleFont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $textMobile;
  margin-bottom: $marginSmall;
  margin-top: $marginBig;
  letter-spacing: 0.03em;
}
h4{
  font-family: $titleFont;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $smallTextMobile;
  margin-bottom: $marginSmall;
  margin-top: $marginBig;
}
p{
  margin-top: $marginNormal; 
  margin-bottom: $marginNormal;
}

figure figcaption{
  font-size: $filters;
  padding-top: 5px;
  color: #3F3F3F;
  font-style: italic;
}

// -------------- IMPORT TEMPlATES STYLES --------------
@import "header.scss";
@import "home.scss";
@import "article.scss";


// -------------- MOBILE-FIRST GENERAL --------------
.show-for-small-only{
	display:block;
}

.hide-for-small-only{
	display:none;
}

main{
  padding: $pageMarginMobile;
  padding-top: 120px;
  padding-bottom: 100px;
  &.row{margin:0;}
  p{
    font-size: $textMobile;
  }
}

.home {
  padding : 0;
  width: 100%;
  height: 100vh;
  h1{
    font-family: $titleFont;
    font-size: $articleTitleMobile;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    text-align: center; 
    width: 100%;
    top: 50%;
    transform: translateY(-150%);
    // color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }
  h1:hover{ -webkit-text-fill-color: #000;}
  a:hover{background:transparent;}

}

.default_inner{
  padding: 0;
  h1{
    font-family: $titleFont;
    font-size: $articleTitleMobile;
    font-weight: bold;
    text-transform: uppercase;
    line-height:1.1;
    margin-top: 0;
  }
  section{
    // border-bottom: 2px solid #000;
    margin-bottom: $marginBig;
    margin-top: $marginBig;
    h2{
      border-bottom: 2px solid #000;
      margin-bottom: $marginBig;
      padding-bottom: $marginNormal;
      margin-top:0;
    }
  }
  article{
    // border-bottom: 2px solid #000;
    padding-bottom: $marginBig; 
    margin-bottom: $marginBig;
  }
  .list{
    .list-date{
      margin:0;
      margin-bottom: $marginSmall;
      font-family: $titleFont;
      font-size: $filtersMobile;
    }
    .list-content-header{
      // border-bottom: 1px solid #000;
      padding-bottom: $marginSmall;
       
      h1{font-size: $menuMobile; margin:0;}
      .list-subtitle{font-style: italic; margin-bottom: $marginNormal;}
    }
    // h2.list-title{text-align: center; font-size: $articleTitle;}
    
    p{margin:0;}
    figure{margin:0; margin-bottom: $marginNormal}
  }

}

.easter-potato{
  .easter-potato_potato{
    font-size: 30px;
    z-index: 300;
    opacity: 0.1;
    display: block; 
    cursor: pointer;
    position: absolute;
  }
  .easter-potato_text{
    position: fixed; 
    left:0;
    bottom: -100%;
    background: $mainColor;
    width: 100%;
    padding: $pageMarginMobile;
    transition: all .5s ease;
    h2{
      margin:0;
    }
    p{margin:0; font-size: $text}
  }

  #toggle-potato:checked ~ .easter-potato_text {
    bottom: 0;
    transition: all .5s ease;
  }
}


// -------------- ONLY FOR MOBILE GENERAL --------------
@media only screen and (max-width: 48em){
  .default_inner{
    .list{
      figure.portrait{ flex-basis: 50%; max-width: 50%}
    }
    .list.collaborators{
      figure{flex-basis: 50%; max-width: 50%}
    }
  }

}

// -------------- TABLET GENERAL --------------
@media only screen and (min-width: 48em){
  h2{
    font-size: calc(#{$menuMobile} + 3px);
  }
  h3{
    font-size: calc(#{$textMobile} + 3px);
  }
  h4{font-size: calc(#{$smallTextMobile} + 3px);}

  main{
    p{
      font-size: calc(#{$textMobile} + 3px);
    }
  }
}

// -------------- DESKTOP GENERAL --------------
@media only screen and (min-width: 62em){

  .show-for-small-only{
      display:none !important;
  }
  .hide-for-small-only{
      display:block !important;
  }

  h2{
    font-size: $menu;
  }
  h3{
    font-size: $text;
  }
  h4{font-size: $smallText;}

  main{
    padding: $pageMargin;
    padding-top: 100px;
    padding-bottom: 100px;
    p{
      font-size: $text;
    }
  }

  .default_inner{
    .list{
      .list-date{
        font-size: $filters;
      }
      .list-content-header{
        h1{font-size: $menu;}
      }
      
    }
  }

  .home{
    h1{
      font-size: 90px;
      left:10%;
      text-align: left;
      width: 420px;
    }
    .home_image-wrapper{
      width: 80%;
      margin-left:20%;
      height:100%;
      background: url("../images/schpensa-close.jpg");
      background-size: contain; 
      background-repeat: no-repeat;
      background-position:center;
      // background-position: 0px -20px;
    }
    h1:hover ~ .home_image-wrapper{
      background: url("../images/schpensa-open.jpg");
      background-size: contain; 
      background-repeat: no-repeat;
      background-position:center;
      // background-position: 0px -20px;
    }
  }

}





