@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0 0px;
  font-size: 12px;
  font-family: "PT Serif", serif;
  line-height: 1.4; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  background-color: #ebcf58; }

p a {
  border-bottom: 1px solid #ebcf58; }

img {
  width: 100%; }

figure {
  margin: 0; }

h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 40px;
  letter-spacing: 0.02em; }

h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 40px;
  letter-spacing: 0.03em; }

h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 40px; }

p {
  margin-top: 20px;
  margin-bottom: 20px; }

figure figcaption {
  font-size: 15px;
  padding-top: 5px;
  color: #3F3F3F;
  font-style: italic; }

header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #FFF;
  z-index: 10000;
  border-bottom: 3px solid #000;
  padding: 20px; }
  header.row {
    margin: 0; }
  header a {
    text-decoration: none; }
  header .languages {
    padding-left: 0;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    padding-top: 3px; }
    header .languages li.active a {
      background: #ebcf58; }
    header .languages a:hover {
      background: #ebcf58; }
  header .site_logo {
    padding: 0; }
    header .site_logo h1 {
      margin: 0;
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.2; }
      header .site_logo h1 a {
        color: #000;
        background: transparent; }
  header .menu_btn {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 28px;
    right: 20px;
    margin: 0px;
    cursor: pointer;
    height: 24px;
    width: 35px; }
    header .menu_btn:hover {
      background: #ebcf58; }
    header .menu_btn.span-checked {
      height: 28px;
      width: 28px; }
    header .menu_btn span {
      display: block;
      background: #000;
      height: 4px;
      width: 35px;
      position: absolute;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    header .menu_btn span:nth-child(1) {
      top: 0px; }
    header .menu_btn span:nth-child(2) {
      top: 10px; }
    header .menu_btn span:nth-child(3) {
      top: 20px; }
  header nav {
    width: 100%;
    background: #FFF;
    text-align: right;
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    header nav .main-nav_first-level {
      text-transform: uppercase;
      font-size: 17px;
      font-family: "PT Sans", sans-serif;
      padding: 20px;
      font-weight: bold;
      letter-spacing: 1px; }
      header nav .main-nav_first-level li {
        margin-right: 20px;
        margin-bottom: 3px; }
        header nav .main-nav_first-level li a {
          color: #000; }
        header nav .main-nav_first-level li a:hover {
          font-style: italic; }
        header nav .main-nav_first-level li.active {
          font-style: italic;
          background: #ebcf58; }
  header #toggle-menu:checked ~ nav {
    right: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  header #toggle-menu + label {
    width: 100%;
    text-align: right; }
  header #toggle-menu .span-nochecked, header #toggle-menu .span-checked {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer; }
  header #toggle-menu + label .span-nochecked {
    display: block;
    cursor: pointer; }
  header #toggle-menu + label .span-checked {
    display: none;
    cursor: pointer; }
  header #toggle-menu:checked + label .span-nochecked {
    display: none; }
  header #toggle-menu:checked + label .span-checked {
    display: block; }
    header #toggle-menu:checked + label .span-checked span:nth-child(1) {
      -webkit-transform: rotatez(45deg);
      -ms-transform: rotate(45deg);
      transform: rotatez(45deg);
      -webkit-transform-origin: 0%;
      left: 2px; }
    header #toggle-menu:checked + label .span-checked span:nth-child(2) {
      opacity: 0; }
    header #toggle-menu:checked + label .span-checked span:nth-child(3) {
      -webkit-transform: rotatez(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotatez(-45deg);
      -webkit-transform-origin: 15%; }

@media only screen and (min-width: 48em) {
  header {
    padding: 15px;
    padding-left: 17px; }
  .languages {
    font-size: calc(13px + 1px); }
  .site_logo h1 {
    font-size: calc(30px + 5px);
    text-align: center; }
  nav .main-nav_first-level li {
    font-size: calc(17px + 3px); } }

@media only screen and (min-width: 64em) {
  header {
    padding: 15px;
    padding-left: 36px; }
    header .languages {
      font-size: 15px; }
    header .site_logo h1 {
      font-size: 40px;
      text-align: center; }
    header .menu_btn {
      right: 36px;
      top: 30px; }
    header nav .main-nav_first-level {
      font-size: 25px;
      padding: 25px; }
      header nav .main-nav_first-level li {
        letter-spacing: 2px;
        margin: 0; } }

.sidebar {
  margin-bottom: 40px; }
  .sidebar ul li {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 5px; }
    .sidebar ul li.active {
      background: #ebcf58;
      cursor: default; }
      .sidebar ul li.active a:hover {
        color: #000; }

.articles-list .filters {
  margin-top: 10px; }
  .articles-list .filters ul {
    padding: 0;
    margin: 0; }
    .articles-list .filters ul li {
      font-family: "PT Sans", sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      margin-right: 5px;
      margin-bottom: 0; }
      .articles-list .filters ul li.active {
        background: #ebcf58;
        cursor: default; }
        .articles-list .filters ul li.active a:hover {
          color: #000; }
      .articles-list .filters ul li:after {
        content: "/"; }
      .articles-list .filters ul li:last-child:after {
        content: ""; }

.articles-list li {
  margin-bottom: 40px; }

.articles-list h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  line-height: 1.1;
  text-transform: capitalize; }

.articles-list h3 {
  margin: 5px 0;
  font-size: 13px;
  text-transform: none; }

.articles-list .article-cover a {
  height: 100%;
  display: block; }

.articles-list .article-cover img {
  vertical-align: middle; }

.articles-list .article-cover:hover {
  background: #ebcf58; }
  .articles-list .article-cover:hover img {
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .articles-list .article-cover:hover ~ h2 a {
    background: #ebcf58; }

@media only screen and (min-width: 64em) {
  .sidebar ul li {
    font-size: 15px; }
  .articles-list .filters ul li {
    font-size: 15px; }
  .articles-list h2 {
    font-size: 25px; }
  .articles-list h3 {
    font-size: 15px; } }

.article_sidebar {
  padding: 0; }
  .article_sidebar .filters {
    margin-bottom: 10px; }
    .article_sidebar .filters ul li {
      font-family: "PT Sans", sans-serif;
      font-size: 13px;
      text-transform: uppercase; }
  .article_sidebar .download-pdf {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "PT Sans", sans-serif; }
    .article_sidebar .download-pdf a {
      border-bottom: 1px solid #ebcf58; }

.author {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 20px; }

.article {
  padding: 0; }
  .article h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 0;
    letter-spacing: 0.01em; }
  .article .introduction {
    font-family: "PT Sans", sans-serif;
    font-weight: bold; }
  .article h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 40px; }
  .article .credits {
    margin-top: 40px; }
    .article .credits p {
      font-size: 12px; }

.recipe {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 20px; }
  .recipe h2 {
    text-align: center;
    margin-top: 0; }
  .recipe p {
    text-align: center; }

.related {
  border-top: 2px solid #000;
  margin-top: 40px;
  padding-top: 20px; }
  .related h2 {
    font-size: 17px;
    margin-top: 0; }
  .related h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin: 0;
    line-height: 1.1;
    text-transform: capitalize; }

article figure {
  margin-top: 40px;
  margin-bottom: 40px; }

article .row-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  article .row-images figure {
    padding-right: 20px; }

figure.small {
  width: 33.3333%;
  margin-left: auto;
  margin-right: auto; }

figure.medium {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

figure.large {
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 64em) {
  .article h1 {
    margin-top: 0;
    text-align: center;
    font-size: 70px; }
  .article h2 {
    font-size: 25px; }
  .article .credits p {
    font-size: 15px; } }

.show-for-print {
  display: none; }

@media print {
  @page {
    margin: 1.5cm;
    size: A4; }
  .show-for-print {
    display: block; }
  header {
    display: none !important; }
  .print-header {
    padding: 0 20px 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px; }
    .print-header h1 {
      text-transform: uppercase;
      font-family: "PT Sans", sans-serif;
      margin: 0; }
  main {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .related, .download-pdf {
    display: none !important; }
  a {
    background: transparent !important; }
  p a::after {
    content: " (" attr(href) ") "; }
  .easter-potato {
    display: none !important; }
  p {
    overflow: visible !important; }
  .recipe {
    page-break-inside: avoid !important; }
  .article h1 {
    text-align: center !important; }
  .filters, .author {
    text-align: center; }
  .filters li {
    display: inline-block !important; }
    .filters li:after {
      content: "/"; }
    .filters li:last-child:after {
      content: ""; } }

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

body[data-template="default"] main {
  max-width: 1600px;
  margin: auto; }

main {
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 100px; }
  main.row {
    margin: 0; }
  main p {
    font-size: 16px; }

.home {
  padding: 0;
  width: 100%;
  height: 100vh; }
  .home h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; }
  .home h1:hover {
    -webkit-text-fill-color: #000; }
  .home a:hover {
    background: transparent; }

.default_inner {
  padding: 0; }
  .default_inner h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    margin-top: 0; }
  .default_inner section {
    margin-bottom: 40px;
    margin-top: 40px; }
    .default_inner section h2 {
      border-bottom: 2px solid #000;
      margin-bottom: 40px;
      padding-bottom: 20px;
      margin-top: 0; }
  .default_inner article {
    padding-bottom: 40px;
    margin-bottom: 40px; }
  .default_inner .list .list-date {
    margin: 0;
    margin-bottom: 10px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px; }
  .default_inner .list .list-content-header {
    padding-bottom: 10px; }
    .default_inner .list .list-content-header h1 {
      font-size: 17px;
      margin: 0; }
    .default_inner .list .list-content-header .list-subtitle {
      font-style: italic;
      margin-bottom: 20px; }
  .default_inner .list p {
    margin: 0; }
  .default_inner .list figure {
    margin: 0;
    margin-bottom: 20px; }

.easter-potato .easter-potato_potato {
  font-size: 30px;
  z-index: 300;
  opacity: 0.1;
  display: block;
  cursor: pointer;
  position: absolute; }

.easter-potato .easter-potato_text {
  position: fixed;
  left: 0;
  bottom: -100%;
  background: #ebcf58;
  width: 100%;
  padding: 20px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .easter-potato .easter-potato_text h2 {
    margin: 0; }
  .easter-potato .easter-potato_text p {
    margin: 0;
    font-size: 20px; }

.easter-potato #toggle-potato:checked ~ .easter-potato_text {
  bottom: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

@media only screen and (max-width: 48em) {
  .default_inner .list figure.portrait {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .default_inner .list.collaborators figure {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; } }

@media only screen and (min-width: 48em) {
  h2 {
    font-size: calc(17px + 3px); }
  h3 {
    font-size: calc(16px + 3px); }
  h4 {
    font-size: calc(12px + 3px); }
  main p {
    font-size: calc(16px + 3px); } }

@media only screen and (min-width: 62em) {
  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block !important; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 15px; }
  main {
    padding: 36px;
    padding-top: 100px;
    padding-bottom: 100px; }
    main p {
      font-size: 20px; }
  .default_inner .list .list-date {
    font-size: 15px; }
  .default_inner .list .list-content-header h1 {
    font-size: 25px; }
  .home h1 {
    font-size: 90px;
    left: 10%;
    text-align: left;
    width: 420px; }
  .home .home_image-wrapper {
    width: 80%;
    margin-left: 20%;
    height: 100%;
    background: url("../images/schpensa-close.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .home h1:hover ~ .home_image-wrapper {
    background: url("../images/schpensa-open.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; } }
